[landslide]
source      = slides.md
destination = slides.html

; directory where the theme is defined (not repository root)
theme       = slide_assets/avalanche/avalanche

; include syntax highlighting css, then presentation-specific css
css         = slide_assets/avalanche/custom_css/pygments/default.css
              slide_assets/css/custom.css

; embed JS & CSS into output file for standalone html output
embed       = True

; no line numbers in code view
linenos     = table
